In [35]:
# Code to merge the datasets

In [76]:
# loading the bank of the west dataset
import pandas as pd

url = "https://ffiec.cfpb.gov/file/modifiedLar/year/2021/institution/QOT5WN9RBKQTFRVKEV31/txt/header"
# reading HMDA's 2021 Modified Loan/Application Register (LAR) 
# Bank of the Wesk (LEI: QOT5WN9RBKQTFRVKEV31)

# Read CSV file and keep the header
df1 = pd.read_csv(url, sep='|', low_memory=False, header=0)

# filter out rows where state_code is CA
df1 = df1[df1['state_code'] == 'AZ']

df_cen = df1["census_tract"]
# print out the number of rows and columns

In [80]:
df_cen = df1[["census_tract", "loan_amount"]]

In [ ]:
df_cen1 = df_cen.groupby("")

In [81]:
df_cen

       census_tract  loan_amount
2        4019004717       105000
9        4021000316        55000
10       4013114200       225000
60       4001970501        65000
77       4013216843       805000
...             ...          ...
29773    4013092401       205000
29780    4013112513       215000
29787    4013092312       235000
29829    4013082008       195000
29833    4013061032       275000

[991 rows x 2 columns]

In [82]:
import cenpy
acs = cenpy.products.ACS(2019)
ca = acs.from_state('AZ',level='tract',variables=['B01002H_001E'])
ca.shape # of tracts

ca.rename(columns={'GEOID':'census_tract'}, inplace=True)
ca

/Users/juanmozosnieto/opt/anaconda3/lib/python3.9/site-packages/cenpy/products.py:767: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  return self._from_name(state, variables, level, "States", **kwargs)

,census_tract,geometry,B01002H_001E,NAME,state,county,tract
0,04027011000,"POLYGON ((-12776137.850 3846534.780, -12776135...",71.0,"Census Tract 110, Yuma County, Arizona",04,027,011000
1,04027000907,"POLYGON ((-12764723.370 3853408.390, -12764711...",47.4,"Census Tract 9.07, Yuma County, Arizona",04,027,000907
2,04015952003,"POLYGON ((-12757980.860 4167616.330, -12757980...",61.5,"Census Tract 9520.03, Mohave County, Arizona",04,015,952003
3,04027011104,"POLYGON ((-12745593.450 3851626.960, -12745593...",61.9,"Census Tract 111.04, Yuma County, Arizona",04,027,011104
4,04027011110,"POLYGON ((-12739866.280 3851192.820, -12739863...",72.3,"Census Tract 111.10, Yuma County, Arizona",04,027,011110
...,...,...,...,...,...,...,...
1521,04007001000,"POLYGON ((-12350808.560 3972491.030, -12350804...",57.3,"Census Tract 10, Gila County, Arizona",04,007,001000
1522,04017960400,"POLYGON ((-12325589.240 4186965.180, -12325146...",49.8,"Census Tract 9604, Navajo County, Arizona",04,017,960400
1523,04017960200,"POLYGON ((-12281279.960 4115564.580, -12281277...",38.3,"Census Tract 9602, Navajo County, Arizona",04,017,960200
1524,04009961300,"POLYGON ((-12215424.800 3872870.940, -12215424...",34.9,"Census Tract 9613, Graham County, Arizona",04,009,961300
1525,04017940013,"POLYGON ((-12328710.750 4232094.800, -12328710...",57.9,"Census Tract 9400.13, Navajo County, Arizona",04,017,940013

In [83]:
ca["census_tract"] = ca["census_tract"].astype(str)

In [84]:
ca["census_tract"] = ca["census_tract"].str.lstrip('0')

In [85]:
ca

,census_tract,geometry,B01002H_001E,NAME,state,county,tract
0,4027011000,"POLYGON ((-12776137.850 3846534.780, -12776135...",71.0,"Census Tract 110, Yuma County, Arizona",04,027,011000
1,4027000907,"POLYGON ((-12764723.370 3853408.390, -12764711...",47.4,"Census Tract 9.07, Yuma County, Arizona",04,027,000907
2,4015952003,"POLYGON ((-12757980.860 4167616.330, -12757980...",61.5,"Census Tract 9520.03, Mohave County, Arizona",04,015,952003
3,4027011104,"POLYGON ((-12745593.450 3851626.960, -12745593...",61.9,"Census Tract 111.04, Yuma County, Arizona",04,027,011104
4,4027011110,"POLYGON ((-12739866.280 3851192.820, -12739863...",72.3,"Census Tract 111.10, Yuma County, Arizona",04,027,011110
...,...,...,...,...,...,...,...
1521,4007001000,"POLYGON ((-12350808.560 3972491.030, -12350804...",57.3,"Census Tract 10, Gila County, Arizona",04,007,001000
1522,4017960400,"POLYGON ((-12325589.240 4186965.180, -12325146...",49.8,"Census Tract 9604, Navajo County, Arizona",04,017,960400
1523,4017960200,"POLYGON ((-12281279.960 4115564.580, -12281277...",38.3,"Census Tract 9602, Navajo County, Arizona",04,017,960200
1524,4009961300,"POLYGON ((-12215424.800 3872870.940, -12215424...",34.9,"Census Tract 9613, Graham County, Arizona",04,009,961300
1525,4017940013,"POLYGON ((-12328710.750 4232094.800, -12328710...",57.9,"Census Tract 9400.13, Navajo County, Arizona",04,017,940013

In [86]:
ca["census_tract"] = ca["census_tract"].astype(int)

In [87]:
print(ca.dtypes)

census_tract       int64
geometry        geometry
B01002H_001E     float64
NAME              object
state             object
county            object
tract             object
dtype: object

In [88]:
merge = ca.merge(df_cen, on = "census_tract", how = "inner")

In [89]:
merge.head()

,census_tract,geometry,B01002H_001E,NAME,state,county,tract,loan_amount
0,4015952800,"POLYGON ((-12725235.900 4095992.210, -12725235...",60.2,"Census Tract 9528, Mohave County, Arizona",04,015,952800,85000
1,4015952800,"POLYGON ((-12725235.900 4095992.210, -12725235...",60.2,"Census Tract 9528, Mohave County, Arizona",04,015,952800,185000
2,4015952800,"POLYGON ((-12725235.900 4095992.210, -12725235...",60.2,"Census Tract 9528, Mohave County, Arizona",04,015,952800,95000
3,4015952800,"POLYGON ((-12725235.900 4095992.210, -12725235...",60.2,"Census Tract 9528, Mohave County, Arizona",04,015,952800,185000
4,4012020100,"POLYGON ((-12718472.790 4031885.010, -12718457...",75.2,"Census Tract 201, La Paz County, Arizona",04,012,020100,85000

In [37]:
import pandas as pd

url = "https://ffiec.cfpb.gov/file/modifiedLar/year/2021/institution/3Y4U8VZURTYWI1W2K376/txt/header"
# reading HMDA's 2021 Modified Loan/Application Register (LAR) 
# BMO HARRIS BANK NATIONAL ASSOCIATION (LEI: 3Y4U8VZURTYWI1W2K376)

# Read CSV file and keep the header
df2 = pd.read_csv(url, sep='|', low_memory=False, header=0)

# filter out rows where state_code is CA
df2 = df2[df2['state_code'] == 'CA']

# print out the number of rows and columns

print("BMO Number of rows: ", df2.shape[0])
print("BMO Number of columns: ", df2.shape[1])

BMO Number of rows:  767
BMO Number of columns:  85

In [38]:
#Vertically merging both of the datset
df_full = df1.append(df2, ignore_index= True)

/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/2428741232.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_full = df1.append(df2, ignore_index= True)

In [39]:
# Shortening HMDA dataframe for readability purposes
df_part = df_full.head(20000)

In [40]:
df_part.head(10)

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,95000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
1,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,65000,4,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
2,2021,QOT5WN9RBKQTFRVKEV31,1,32,2,1,1,2085000,1,CA,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
3,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,45000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
4,2021,QOT5WN9RBKQTFRVKEV31,1,31,2,1,1,285000,4,CA,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
5,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,255000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
6,2021,QOT5WN9RBKQTFRVKEV31,1,4,2,1,1,45000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
7,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,165000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
8,2021,QOT5WN9RBKQTFRVKEV31,1,32,2,1,3,485000,3,CA,...,1,1,1,NaN,NaN,NaN,NaN,2,2,1
9,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,15000,2,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2

In [41]:
print(df_part.dtypes)

activity_year                       int64
lei                                object
loan_type                           int64
loan_purpose                        int64
preapproval                         int64
                                   ...
aus_4                             float64
aus_5                             float64
reverse_mortgage                    int64
open_end_line_of_credit             int64
business_or_commercial_purpose      int64
Length: 85, dtype: object

In [42]:
#Converting variables from numerical to categorical
df_part["census_tract"] = df_part["census_tract"].astype("category")
df_part["activity_year"] = df_part["activity_year"].astype("category")
df_part["lei"] = df_part["lei"].astype("category")
df_part["loan_type"] = df_part["loan_type"].astype("category")
df_part[['loan_purpose', 'preapproval', 'construction_method']] = df_part[['loan_purpose', 'preapproval', 'construction_method']].astype("category")
df_part[['occupancy_type', 'action_taken', 'state_code', 'county_code', 'census_tract', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']] = df_part[['occupancy_type', 'action_taken', 'state_code', 'county_code', 'census_tract', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']].astype("category")

In [43]:
print(df_part.dtypes)

activity_year                     category
lei                               category
loan_type                         category
loan_purpose                      category
preapproval                       category
                                    ...
aus_4                             category
aus_5                             category
reverse_mortgage                  category
open_end_line_of_credit           category
business_or_commercial_purpose    category
Length: 85, dtype: object

In [44]:
#Creating dummy variables for all categorical variables
dummies = pd.get_dummies(df_part[['loan_type', 'loan_purpose', 'preapproval', 'construction_method', 'occupancy_type', 'action_taken', 'state_code', 'county_code', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']])

In [45]:
print(list(dummies))

['loan_type_1', 'loan_type_2', 'loan_type_3', 'loan_purpose_1', 'loan_purpose_2', 'loan_purpose_4', 'loan_purpose_5', 'loan_purpose_31', 'loan_purpose_32', 'preapproval_1', 'preapproval_2', 'construction_method_1', 'construction_method_2', 'occupancy_type_1', 'occupancy_type_2', 'occupancy_type_3', 'action_taken_1', 'action_taken_2', 'action_taken_3', 'action_taken_4', 'action_taken_5', 'action_taken_6', 'state_code_CA', 'county_code_6001.0', 'county_code_6003.0', 'county_code_6005.0', 'county_code_6007.0', 'county_code_6009.0', 'county_code_6011.0', 'county_code_6013.0', 'county_code_6015.0', 'county_code_6017.0', 'county_code_6019.0', 'county_code_6023.0', 'county_code_6025.0', 'county_code_6027.0', 'county_code_6029.0', 'county_code_6031.0', 'county_code_6033.0', 'county_code_6035.0', 'county_code_6037.0', 'county_code_6039.0', 'county_code_6041.0', 'county_code_6043.0', 'county_code_6045.0', 'county_code_6047.0', 'county_code_6051.0', 'county_code_6053.0', 'county_code_6055.0', 'county_code_6057.0', 'county_code_6059.0', 'county_code_6061.0', 'county_code_6063.0', 'county_code_6065.0', 'county_code_6067.0', 'county_code_6069.0', 'county_code_6071.0', 'county_code_6073.0', 'county_code_6075.0', 'county_code_6077.0', 'county_code_6079.0', 'county_code_6081.0', 'county_code_6083.0', 'county_code_6085.0', 'county_code_6087.0', 'county_code_6089.0', 'county_code_6091.0', 'county_code_6093.0', 'county_code_6095.0', 'county_code_6097.0', 'county_code_6099.0', 'county_code_6101.0', 'county_code_6103.0', 'county_code_6107.0', 'county_code_6109.0', 'county_code_6111.0', 'county_code_6113.0', 'county_code_6115.0', 'applicant_ethnicity_1_1.0', 'applicant_ethnicity_1_2.0', 'applicant_ethnicity_1_3.0', 'applicant_ethnicity_1_4.0', 'applicant_ethnicity_1_11.0', 'applicant_ethnicity_1_12.0', 'applicant_ethnicity_1_14.0', 'applicant_ethnicity_2_2.0', 'applicant_ethnicity_2_11.0', 'applicant_ethnicity_2_12.0', 'applicant_ethnicity_2_13.0', 'applicant_ethnicity_2_14.0', 'applicant_ethnicity_3_1.0', 'applicant_ethnicity_3_11.0', 'applicant_ethnicity_3_12.0', 'applicant_ethnicity_3_14.0', 'co_applicant_ethnicity_1_1.0', 'co_applicant_ethnicity_1_2.0', 'co_applicant_ethnicity_1_3.0', 'co_applicant_ethnicity_1_4.0', 'co_applicant_ethnicity_1_5.0', 'co_applicant_ethnicity_1_11.0', 'co_applicant_ethnicity_1_14.0', 'co_applicant_ethnicity_2_2.0', 'co_applicant_ethnicity_2_11.0', 'co_applicant_ethnicity_2_12.0', 'co_applicant_ethnicity_2_13.0', 'co_applicant_ethnicity_2_14.0', 'co_applicant_ethnicity_3_12.0', 'co_applicant_ethnicity_3_14.0', 'applicant_ethnicity_observed_1', 'applicant_ethnicity_observed_2', 'applicant_ethnicity_observed_3', 'co_applicant_ethnicity_observed_1', 'co_applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_3', 'co_applicant_ethnicity_observed_4', 'applicant_race_1_1.0', 'applicant_race_1_2.0', 'applicant_race_1_3.0', 'applicant_race_1_4.0', 'applicant_race_1_5.0', 'applicant_race_1_6.0', 'applicant_race_1_7.0', 'applicant_race_1_21.0', 'applicant_race_1_22.0', 'applicant_race_1_23.0', 'applicant_race_1_24.0', 'applicant_race_1_25.0', 'applicant_race_1_26.0', 'applicant_race_1_27.0', 'applicant_race_1_44.0', 'applicant_race_2_2.0', 'applicant_race_2_3.0', 'applicant_race_2_4.0', 'applicant_race_2_5.0', 'applicant_race_2_21.0', 'applicant_race_2_22.0', 'applicant_race_2_23.0', 'applicant_race_2_24.0', 'applicant_race_2_25.0', 'applicant_race_2_26.0', 'applicant_race_2_27.0', 'applicant_race_2_41.0', 'applicant_race_2_42.0', 'applicant_race_2_43.0', 'applicant_race_2_44.0', 'applicant_race_3_3.0', 'applicant_race_3_4.0', 'applicant_race_3_5.0', 'applicant_race_3_21.0', 'applicant_race_3_22.0', 'applicant_race_3_23.0', 'applicant_race_3_24.0', 'applicant_race_3_25.0', 'applicant_race_3_26.0', 'applicant_race_3_27.0', 'applicant_race_3_41.0', 'applicant_race_3_44.0', 'applicant_race_4_4.0', 'applicant_race_4_5.0', 'applicant_race_4_21.0', 'applicant_race_4_23.0', 'applicant_race_4_24.0', 'applicant_race_4_26.0', 'applicant_race_4_27.0', 'applicant_race_4_41.0', 'applicant_race_4_44.0', 'applicant_race_5_5.0', 'applicant_race_5_24.0', 'applicant_race_5_44.0', 'co_applicant_race_1_1.0', 'co_applicant_race_1_2.0', 'co_applicant_race_1_3.0', 'co_applicant_race_1_4.0', 'co_applicant_race_1_5.0', 'co_applicant_race_1_6.0', 'co_applicant_race_1_7.0', 'co_applicant_race_1_8.0', 'co_applicant_race_1_21.0', 'co_applicant_race_1_22.0', 'co_applicant_race_1_23.0', 'co_applicant_race_1_24.0', 'co_applicant_race_1_25.0', 'co_applicant_race_1_26.0', 'co_applicant_race_1_27.0', 'co_applicant_race_1_44.0', 'co_applicant_race_2_2.0', 'co_applicant_race_2_3.0', 'co_applicant_race_2_4.0', 'co_applicant_race_2_5.0', 'co_applicant_race_2_21.0', 'co_applicant_race_2_22.0', 'co_applicant_race_2_23.0', 'co_applicant_race_2_24.0', 'co_applicant_race_2_25.0', 'co_applicant_race_2_26.0', 'co_applicant_race_2_27.0', 'co_applicant_race_2_41.0', 'co_applicant_race_2_42.0', 'co_applicant_race_2_44.0', 'co_applicant_race_3_5.0', 'co_applicant_race_3_21.0', 'co_applicant_race_3_22.0', 'co_applicant_race_3_23.0', 'co_applicant_race_3_24.0', 'co_applicant_race_3_25.0', 'co_applicant_race_3_26.0', 'co_applicant_race_3_27.0', 'co_applicant_race_3_41.0', 'co_applicant_race_4_24.0', 'co_applicant_race_4_25.0', 'co_applicant_race_4_41.0', 'co_applicant_race_4_44.0', 'co_applicant_race_5_25.0', 'applicant_race_observed_1', 'applicant_race_observed_2', 'applicant_race_observed_3', 'co_applicant_race_observed_1', 'co_applicant_race_observed_2', 'co_applicant_race_observed_3', 'co_applicant_race_observed_4', 'applicant_sex_1', 'applicant_sex_2', 'applicant_sex_3', 'applicant_sex_4', 'applicant_sex_6', 'co_applicant_sex_1', 'co_applicant_sex_2', 'co_applicant_sex_3', 'co_applicant_sex_4', 'co_applicant_sex_5', 'co_applicant_sex_6', 'applicant_sex_observed_1', 'applicant_sex_observed_2', 'applicant_sex_observed_3', 'co_applicant_sex_observed_1', 'co_applicant_sex_observed_2', 'co_applicant_sex_observed_3', 'co_applicant_sex_observed_4', 'applicant_age_25-34', 'applicant_age_35-44', 'applicant_age_45-54', 'applicant_age_55-64', 'applicant_age_65-74', 'applicant_age_8888', 'applicant_age_<25', 'applicant_age_>74', 'applicant_age_above_62_No', 'applicant_age_above_62_Yes', 'co_applicant_age_25-34', 'co_applicant_age_35-44', 'co_applicant_age_45-54', 'co_applicant_age_55-64', 'co_applicant_age_65-74', 'co_applicant_age_8888', 'co_applicant_age_9999', 'co_applicant_age_<25', 'co_applicant_age_>74', 'co_applicant_age_above_62_No', 'co_applicant_age_above_62_Yes', 'purchaser_type_0', 'purchaser_type_1', 'purchaser_type_2', 'purchaser_type_3', 'purchaser_type_71', 'hoepa_status_2', 'hoepa_status_3', 'lien_status_1', 'lien_status_2', 'applicant_credit_scoring_model_1', 'applicant_credit_scoring_model_2', 'applicant_credit_scoring_model_3', 'applicant_credit_scoring_model_8', 'applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_1', 'co_applicant_credit_scoring_model_2', 'co_applicant_credit_scoring_model_3', 'co_applicant_credit_scoring_model_8', 'co_applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_10', 'denial_reason_1_1', 'denial_reason_1_2', 'denial_reason_1_3', 'denial_reason_1_4', 'denial_reason_1_5', 'denial_reason_1_6', 'denial_reason_1_7', 'denial_reason_1_8', 'denial_reason_1_9', 'denial_reason_1_10', 'denial_reason_2_1.0', 'denial_reason_2_2.0', 'denial_reason_2_3.0', 'denial_reason_2_4.0', 'denial_reason_2_5.0', 'denial_reason_2_6.0', 'denial_reason_2_9.0', 'denial_reason_3_1.0', 'denial_reason_3_2.0', 'denial_reason_3_3.0', 'denial_reason_3_4.0', 'denial_reason_3_5.0', 'denial_reason_3_6.0', 'denial_reason_3_9.0', 'denial_reason_4_6.0', 'denial_reason_4_9.0', 'debt_to_income_ratio_20%-<30%', 'debt_to_income_ratio_30%-<36%', 'debt_to_income_ratio_36', 'debt_to_income_ratio_37', 'debt_to_income_ratio_38', 'debt_to_income_ratio_39', 'debt_to_income_ratio_40', 'debt_to_income_ratio_41', 'debt_to_income_ratio_42', 'debt_to_income_ratio_43', 'debt_to_income_ratio_44', 'debt_to_income_ratio_45', 'debt_to_income_ratio_46', 'debt_to_income_ratio_47', 'debt_to_income_ratio_48', 'debt_to_income_ratio_49', 'debt_to_income_ratio_50%-60%', 'debt_to_income_ratio_<20%', 'debt_to_income_ratio_>60%', 'balloon_payment_1', 'balloon_payment_2', 'interest_only_payment_1', 'interest_only_payment_2', 'negative_amortization_2', 'other_non_amortizing_features_1', 'other_non_amortizing_features_2', 'manufactured_home_secured_property_type_1', 'manufactured_home_secured_property_type_3', 'manufactured_home_land_property_interest_1', 'manufactured_home_land_property_interest_5', 'total_units_1', 'total_units_100-149', 'total_units_2', 'total_units_25-49', 'total_units_3', 'total_units_4', 'total_units_5-24', 'total_units_50-99', 'total_units_>149', 'submission_of_application_1', 'submission_of_application_3', 'initially_payable_to_institution_1', 'initially_payable_to_institution_3', 'aus_1_1', 'aus_1_2', 'aus_1_3', 'aus_1_5', 'aus_1_6', 'reverse_mortgage_2', 'open_end_line_of_credit_1', 'open_end_line_of_credit_2', 'business_or_commercial_purpose_1', 'business_or_commercial_purpose_2']

In [46]:
dummies.head()

,loan_type_1,loan_type_2,loan_type_3,loan_purpose_1,loan_purpose_2,loan_purpose_4,loan_purpose_5,loan_purpose_31,loan_purpose_32,preapproval_1,...,aus_1_1,aus_1_2,aus_1_3,aus_1_5,aus_1_6,reverse_mortgage_2,open_end_line_of_credit_1,open_end_line_of_credit_2,business_or_commercial_purpose_1,business_or_commercial_purpose_2
0,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1
2,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
3,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,1,0,0,1
4,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,1,0,1,0,1

In [47]:
dummies[['loan_type_1', 'loan_type_2', 'loan_type_3', 'loan_purpose_1', 'loan_purpose_2', 'loan_purpose_4', 'loan_purpose_31', 'loan_purpose_32', 'preapproval_2', 'construction_method_1', 'construction_method_2', 'occupancy_type_1', 'occupancy_type_2', 'occupancy_type_3', 'action_taken_1', 'action_taken_2', 'action_taken_3', 'action_taken_4', 'state_code_CA', 'county_code_6001.0', 'county_code_6003.0', 'county_code_6005.0', 'county_code_6007.0', 'county_code_6009.0', 'county_code_6013.0', 'county_code_6017.0', 'county_code_6019.0', 'county_code_6029.0', 'county_code_6031.0', 'county_code_6033.0', 'county_code_6035.0', 'county_code_6037.0', 'county_code_6039.0', 'county_code_6041.0', 'county_code_6043.0', 'county_code_6047.0', 'county_code_6053.0', 'county_code_6055.0', 'county_code_6057.0', 'county_code_6059.0', 'county_code_6061.0', 'county_code_6065.0', 'county_code_6067.0', 'county_code_6069.0', 'county_code_6071.0', 'county_code_6073.0', 'county_code_6075.0', 'county_code_6077.0', 'county_code_6079.0', 'county_code_6081.0', 'county_code_6083.0', 'county_code_6085.0', 'county_code_6087.0', 'county_code_6089.0', 'county_code_6095.0', 'county_code_6097.0', 'county_code_6099.0', 'county_code_6107.0', 'county_code_6111.0', 'county_code_6113.0', 'applicant_ethnicity_1_1.0', 'applicant_ethnicity_1_2.0', 'applicant_ethnicity_1_3.0', 'applicant_ethnicity_1_11.0', 'applicant_ethnicity_1_14.0', 'applicant_ethnicity_2_11.0', 'applicant_ethnicity_2_12.0', 'applicant_ethnicity_2_14.0', 'applicant_ethnicity_3_12.0', 'applicant_ethnicity_3_14.0', 'co_applicant_ethnicity_1_1.0', 'co_applicant_ethnicity_1_2.0', 'co_applicant_ethnicity_1_3.0', 'co_applicant_ethnicity_1_5.0', 'co_applicant_ethnicity_1_11.0', 'co_applicant_ethnicity_1_14.0', 'co_applicant_ethnicity_2_11.0', 'co_applicant_ethnicity_2_12.0', 'co_applicant_ethnicity_2_14.0', 'applicant_ethnicity_observed_1', 'applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_1', 'co_applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_4', 'applicant_race_1_1.0', 'applicant_race_1_2.0', 'applicant_race_1_3.0', 'applicant_race_1_4.0', 'applicant_race_1_5.0', 'applicant_race_1_6.0', 'applicant_race_1_21.0', 'applicant_race_1_22.0', 'applicant_race_1_23.0', 'applicant_race_1_24.0', 'applicant_race_1_27.0', 'applicant_race_2_2.0', 'applicant_race_2_3.0', 'applicant_race_2_5.0', 'applicant_race_2_21.0', 'applicant_race_2_22.0', 'applicant_race_2_23.0', 'applicant_race_2_24.0', 'applicant_race_2_25.0', 'applicant_race_2_26.0', 'applicant_race_2_27.0', 'applicant_race_2_43.0', 'applicant_race_2_44.0', 'applicant_race_3_5.0', 'applicant_race_3_23.0', 'applicant_race_3_26.0', 'applicant_race_3_27.0', 'applicant_race_4_23.0', 'applicant_race_5_24.0', 'co_applicant_race_1_1.0', 'co_applicant_race_1_2.0', 'co_applicant_race_1_3.0', 'co_applicant_race_1_4.0', 'co_applicant_race_1_5.0', 'co_applicant_race_1_6.0', 'co_applicant_race_1_8.0', 'co_applicant_race_1_21.0', 'co_applicant_race_1_22.0', 'co_applicant_race_1_23.0', 'co_applicant_race_1_27.0', 'co_applicant_race_2_3.0', 'co_applicant_race_2_5.0', 'co_applicant_race_2_21.0', 'co_applicant_race_2_22.0', 'co_applicant_race_2_23.0', 'co_applicant_race_2_24.0', 'co_applicant_race_2_25.0', 'co_applicant_race_2_26.0', 'co_applicant_race_2_27.0', 'co_applicant_race_2_44.0', 'co_applicant_race_3_22.0', 'co_applicant_race_3_27.0', 'applicant_race_observed_1', 'applicant_race_observed_2', 'co_applicant_race_observed_1', 'co_applicant_race_observed_2', 'co_applicant_race_observed_4', 'applicant_sex_1', 'applicant_sex_2', 'applicant_sex_3', 'co_applicant_sex_1', 'co_applicant_sex_2', 'co_applicant_sex_3', 'co_applicant_sex_5', 'co_applicant_sex_6', 'applicant_sex_observed_1', 'applicant_sex_observed_2', 'co_applicant_sex_observed_1', 'co_applicant_sex_observed_2', 'co_applicant_sex_observed_4', 'applicant_age_25-34', 'applicant_age_35-44', 'applicant_age_45-54', 'applicant_age_55-64', 'applicant_age_65-74', 'applicant_age_>74', 'applicant_age_above_62_No', 'applicant_age_above_62_Yes', 'co_applicant_age_25-34', 'co_applicant_age_35-44', 'co_applicant_age_45-54', 'co_applicant_age_55-64', 'co_applicant_age_65-74', 'co_applicant_age_9999', 'co_applicant_age_<25', 'co_applicant_age_>74', 'co_applicant_age_above_62_No', 'co_applicant_age_above_62_Yes', 'purchaser_type_0', 'purchaser_type_1', 'purchaser_type_2', 'hoepa_status_2', 'hoepa_status_3', 'lien_status_1', 'lien_status_2', 'applicant_credit_scoring_model_1', 'applicant_credit_scoring_model_2', 'applicant_credit_scoring_model_3', 'applicant_credit_scoring_model_8', 'applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_1', 'co_applicant_credit_scoring_model_2', 'co_applicant_credit_scoring_model_3', 'co_applicant_credit_scoring_model_8', 'co_applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_10', 'denial_reason_1_1', 'denial_reason_1_3', 'denial_reason_1_4', 'denial_reason_1_5', 'denial_reason_1_6', 'denial_reason_1_7', 'denial_reason_1_9', 'denial_reason_1_10', 'denial_reason_2_1.0', 'denial_reason_2_3.0', 'denial_reason_2_4.0', 'denial_reason_2_5.0', 'denial_reason_2_6.0', 'denial_reason_2_9.0', 'denial_reason_3_1.0', 'denial_reason_3_9.0', 'debt_to_income_ratio_20%-<30%', 'debt_to_income_ratio_30%-<36%', 'debt_to_income_ratio_36', 'debt_to_income_ratio_37', 'debt_to_income_ratio_38', 'debt_to_income_ratio_39', 'debt_to_income_ratio_40', 'debt_to_income_ratio_41', 'debt_to_income_ratio_42', 'debt_to_income_ratio_43', 'debt_to_income_ratio_44', 'debt_to_income_ratio_45', 'debt_to_income_ratio_46', 'debt_to_income_ratio_47', 'debt_to_income_ratio_48', 'debt_to_income_ratio_49', 'debt_to_income_ratio_50%-60%', 'debt_to_income_ratio_<20%', 'debt_to_income_ratio_>60%', 'balloon_payment_2', 'interest_only_payment_1', 'interest_only_payment_2', 'negative_amortization_2', 'other_non_amortizing_features_2', 'manufactured_home_secured_property_type_1', 'manufactured_home_secured_property_type_3', 'manufactured_home_land_property_interest_1', 'manufactured_home_land_property_interest_5', 'total_units_1', 'total_units_2', 'total_units_3', 'total_units_4', 'submission_of_application_1', 'initially_payable_to_institution_1', 'aus_1_1', 'aus_1_3', 'aus_1_6', 'reverse_mortgage_2', 'open_end_line_of_credit_1', 'open_end_line_of_credit_2', 'business_or_commercial_purpose_1', 'business_or_commercial_purpose_2']] = dummies[['loan_type_1', 'loan_type_2', 'loan_type_3', 'loan_purpose_1', 'loan_purpose_2', 'loan_purpose_4', 'loan_purpose_31', 'loan_purpose_32', 'preapproval_2', 'construction_method_1', 'construction_method_2', 'occupancy_type_1', 'occupancy_type_2', 'occupancy_type_3', 'action_taken_1', 'action_taken_2', 'action_taken_3', 'action_taken_4', 'state_code_CA', 'county_code_6001.0', 'county_code_6003.0', 'county_code_6005.0', 'county_code_6007.0', 'county_code_6009.0', 'county_code_6013.0', 'county_code_6017.0', 'county_code_6019.0', 'county_code_6029.0', 'county_code_6031.0', 'county_code_6033.0', 'county_code_6035.0', 'county_code_6037.0', 'county_code_6039.0', 'county_code_6041.0', 'county_code_6043.0', 'county_code_6047.0', 'county_code_6053.0', 'county_code_6055.0', 'county_code_6057.0', 'county_code_6059.0', 'county_code_6061.0', 'county_code_6065.0', 'county_code_6067.0', 'county_code_6069.0', 'county_code_6071.0', 'county_code_6073.0', 'county_code_6075.0', 'county_code_6077.0', 'county_code_6079.0', 'county_code_6081.0', 'county_code_6083.0', 'county_code_6085.0', 'county_code_6087.0', 'county_code_6089.0', 'county_code_6095.0', 'county_code_6097.0', 'county_code_6099.0', 'county_code_6107.0', 'county_code_6111.0', 'county_code_6113.0', 'applicant_ethnicity_1_1.0', 'applicant_ethnicity_1_2.0', 'applicant_ethnicity_1_3.0', 'applicant_ethnicity_1_11.0', 'applicant_ethnicity_1_14.0', 'applicant_ethnicity_2_11.0', 'applicant_ethnicity_2_12.0', 'applicant_ethnicity_2_14.0', 'applicant_ethnicity_3_12.0', 'applicant_ethnicity_3_14.0', 'co_applicant_ethnicity_1_1.0', 'co_applicant_ethnicity_1_2.0', 'co_applicant_ethnicity_1_3.0', 'co_applicant_ethnicity_1_5.0', 'co_applicant_ethnicity_1_11.0', 'co_applicant_ethnicity_1_14.0', 'co_applicant_ethnicity_2_11.0', 'co_applicant_ethnicity_2_12.0', 'co_applicant_ethnicity_2_14.0', 'applicant_ethnicity_observed_1', 'applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_1', 'co_applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_4', 'applicant_race_1_1.0', 'applicant_race_1_2.0', 'applicant_race_1_3.0', 'applicant_race_1_4.0', 'applicant_race_1_5.0', 'applicant_race_1_6.0', 'applicant_race_1_21.0', 'applicant_race_1_22.0', 'applicant_race_1_23.0', 'applicant_race_1_24.0', 'applicant_race_1_27.0', 'applicant_race_2_2.0', 'applicant_race_2_3.0', 'applicant_race_2_5.0', 'applicant_race_2_21.0', 'applicant_race_2_22.0', 'applicant_race_2_23.0', 'applicant_race_2_24.0', 'applicant_race_2_25.0', 'applicant_race_2_26.0', 'applicant_race_2_27.0', 'applicant_race_2_43.0', 'applicant_race_2_44.0', 'applicant_race_3_5.0', 'applicant_race_3_23.0', 'applicant_race_3_26.0', 'applicant_race_3_27.0', 'applicant_race_4_23.0', 'applicant_race_5_24.0', 'co_applicant_race_1_1.0', 'co_applicant_race_1_2.0', 'co_applicant_race_1_3.0', 'co_applicant_race_1_4.0', 'co_applicant_race_1_5.0', 'co_applicant_race_1_6.0', 'co_applicant_race_1_8.0', 'co_applicant_race_1_21.0', 'co_applicant_race_1_22.0', 'co_applicant_race_1_23.0', 'co_applicant_race_1_27.0', 'co_applicant_race_2_3.0', 'co_applicant_race_2_5.0', 'co_applicant_race_2_21.0', 'co_applicant_race_2_22.0', 'co_applicant_race_2_23.0', 'co_applicant_race_2_24.0', 'co_applicant_race_2_25.0', 'co_applicant_race_2_26.0', 'co_applicant_race_2_27.0', 'co_applicant_race_2_44.0', 'co_applicant_race_3_22.0', 'co_applicant_race_3_27.0', 'applicant_race_observed_1', 'applicant_race_observed_2', 'co_applicant_race_observed_1', 'co_applicant_race_observed_2', 'co_applicant_race_observed_4', 'applicant_sex_1', 'applicant_sex_2', 'applicant_sex_3', 'co_applicant_sex_1', 'co_applicant_sex_2', 'co_applicant_sex_3', 'co_applicant_sex_5', 'co_applicant_sex_6', 'applicant_sex_observed_1', 'applicant_sex_observed_2', 'co_applicant_sex_observed_1', 'co_applicant_sex_observed_2', 'co_applicant_sex_observed_4', 'applicant_age_25-34', 'applicant_age_35-44', 'applicant_age_45-54', 'applicant_age_55-64', 'applicant_age_65-74', 'applicant_age_>74', 'applicant_age_above_62_No', 'applicant_age_above_62_Yes', 'co_applicant_age_25-34', 'co_applicant_age_35-44', 'co_applicant_age_45-54', 'co_applicant_age_55-64', 'co_applicant_age_65-74', 'co_applicant_age_9999', 'co_applicant_age_<25', 'co_applicant_age_>74', 'co_applicant_age_above_62_No', 'co_applicant_age_above_62_Yes', 'purchaser_type_0', 'purchaser_type_1', 'purchaser_type_2', 'hoepa_status_2', 'hoepa_status_3', 'lien_status_1', 'lien_status_2', 'applicant_credit_scoring_model_1', 'applicant_credit_scoring_model_2', 'applicant_credit_scoring_model_3', 'applicant_credit_scoring_model_8', 'applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_1', 'co_applicant_credit_scoring_model_2', 'co_applicant_credit_scoring_model_3', 'co_applicant_credit_scoring_model_8', 'co_applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_10', 'denial_reason_1_1', 'denial_reason_1_3', 'denial_reason_1_4', 'denial_reason_1_5', 'denial_reason_1_6', 'denial_reason_1_7', 'denial_reason_1_9', 'denial_reason_1_10', 'denial_reason_2_1.0', 'denial_reason_2_3.0', 'denial_reason_2_4.0', 'denial_reason_2_5.0', 'denial_reason_2_6.0', 'denial_reason_2_9.0', 'denial_reason_3_1.0', 'denial_reason_3_9.0', 'debt_to_income_ratio_20%-<30%', 'debt_to_income_ratio_30%-<36%', 'debt_to_income_ratio_36', 'debt_to_income_ratio_37', 'debt_to_income_ratio_38', 'debt_to_income_ratio_39', 'debt_to_income_ratio_40', 'debt_to_income_ratio_41', 'debt_to_income_ratio_42', 'debt_to_income_ratio_43', 'debt_to_income_ratio_44', 'debt_to_income_ratio_45', 'debt_to_income_ratio_46', 'debt_to_income_ratio_47', 'debt_to_income_ratio_48', 'debt_to_income_ratio_49', 'debt_to_income_ratio_50%-60%', 'debt_to_income_ratio_<20%', 'debt_to_income_ratio_>60%', 'balloon_payment_2', 'interest_only_payment_1', 'interest_only_payment_2', 'negative_amortization_2', 'other_non_amortizing_features_2', 'manufactured_home_secured_property_type_1', 'manufactured_home_secured_property_type_3', 'manufactured_home_land_property_interest_1', 'manufactured_home_land_property_interest_5', 'total_units_1', 'total_units_2', 'total_units_3', 'total_units_4', 'submission_of_application_1', 'initially_payable_to_institution_1', 'aus_1_1', 'aus_1_3', 'aus_1_6', 'reverse_mortgage_2', 'open_end_line_of_credit_1', 'open_end_line_of_credit_2', 'business_or_commercial_purpose_1', 'business_or_commercial_purpose_2']].astype("category")

In [48]:
print(dummies.dtypes)

loan_type_1                         category
loan_type_2                         category
loan_type_3                         category
loan_purpose_1                      category
loan_purpose_2                      category
                                      ...
reverse_mortgage_2                  category
open_end_line_of_credit_1           category
open_end_line_of_credit_2           category
business_or_commercial_purpose_1    category
business_or_commercial_purpose_2    category
Length: 358, dtype: object

In [49]:
df_dummies = pd.concat([df_part, dummies], axis = 1)

In [50]:
df_dummies.head()

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,aus_1_1,aus_1_2,aus_1_3,aus_1_5,aus_1_6,reverse_mortgage_2,open_end_line_of_credit_1,open_end_line_of_credit_2,business_or_commercial_purpose_1,business_or_commercial_purpose_2
0,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,95000,1,CA,...,0,0,0,0,1,1,1,0,0,1
1,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,65000,4,CA,...,0,0,0,0,1,1,1,0,0,1
2,2021,QOT5WN9RBKQTFRVKEV31,1,32,2,1,1,2085000,1,CA,...,1,0,0,0,0,1,0,1,0,1
3,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,45000,1,CA,...,0,0,0,0,1,1,1,0,0,1
4,2021,QOT5WN9RBKQTFRVKEV31,1,31,2,1,1,285000,4,CA,...,1,0,0,0,0,1,0,1,0,1

In [51]:
df_dummies.drop(['loan_type', 'loan_purpose', 'preapproval', 'construction_method', 'occupancy_type', 'action_taken', 'state_code', 'county_code', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose'], axis=1, inplace=True)

In [52]:
df_dummies.head(20)

,activity_year,lei,loan_amount,census_tract,income,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,...,aus_1_1,aus_1_2,aus_1_3,aus_1_5,aus_1_6,reverse_mortgage_2,open_end_line_of_credit_1,open_end_line_of_credit_2,business_or_commercial_purpose_1,business_or_commercial_purpose_2
0,2021,QOT5WN9RBKQTFRVKEV31,95000,6.083002e+09,178.0,1.705,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
1,2021,QOT5WN9RBKQTFRVKEV31,65000,6.059099e+09,102.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
2,2021,QOT5WN9RBKQTFRVKEV31,2085000,6.037800e+09,403.0,-0.153,10310.87,NaN,6145.00,NaN,...,1,0,0,0,0,1,0,1,0,1
3,2021,QOT5WN9RBKQTFRVKEV31,45000,6.037106e+09,112.0,2.605,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
4,2021,QOT5WN9RBKQTFRVKEV31,285000,6.037433e+09,56.0,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,1,0,1,0,1
5,2021,QOT5WN9RBKQTFRVKEV31,255000,6.111007e+09,263.0,0.905,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
6,2021,QOT5WN9RBKQTFRVKEV31,45000,6.037409e+09,90.0,2.795,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
7,2021,QOT5WN9RBKQTFRVKEV31,165000,6.075030e+09,241.0,1.380,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
8,2021,QOT5WN9RBKQTFRVKEV31,485000,6.013330e+09,231.0,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,1,0,1,1,0
9,2021,QOT5WN9RBKQTFRVKEV31,15000,6.085512e+09,21.0,2.465,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
10,2021,QOT5WN9RBKQTFRVKEV31,65000,6.087122e+09,130.0,2.440,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
11,2021,QOT5WN9RBKQTFRVKEV31,45000,6.085506e+09,20.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
12,2021,QOT5WN9RBKQTFRVKEV31,95000,6.099002e+09,0.0,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,1,0,1,0,1
13,2021,QOT5WN9RBKQTFRVKEV31,955000,6.085508e+09,227.0,-0.407,7674.65,NaN,5676.50,4781.50,...,1,0,0,0,0,1,0,1,0,1
14,2021,QOT5WN9RBKQTFRVKEV31,325000,6.059076e+09,308.0,0.665,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
15,2021,QOT5WN9RBKQTFRVKEV31,505000,6.059100e+09,360.0,0.540,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
16,2021,QOT5WN9RBKQTFRVKEV31,345000,6.073016e+09,142.0,1.078,5528.70,NaN,3063.75,2168.75,...,1,0,0,0,0,1,0,1,0,1
17,2021,QOT5WN9RBKQTFRVKEV31,205000,6.099003e+09,91.0,0.360,4300.45,NaN,2662.50,1767.50,...,1,0,0,0,0,1,0,1,0,1
18,2021,QOT5WN9RBKQTFRVKEV31,405000,6.037621e+09,198.0,0.655,NaN,NaN,NaN,NaN,...,0,0,0,0,1,1,1,0,0,1
19,2021,QOT5WN9RBKQTFRVKEV31,1315000,6.037142e+09,640.0,0.587,10151.95,NaN,895.00,NaN,...,1,0,0,0,0,1,0,1,0,1

In [53]:
print(df_dummies.dtypes)

activity_year                       category
lei                                 category
loan_amount                            int64
census_tract                        category
income                               float64
                                      ...
reverse_mortgage_2                  category
open_end_line_of_credit_1           category
open_end_line_of_credit_2           category
business_or_commercial_purpose_1    category
business_or_commercial_purpose_2    category
Length: 376, dtype: object

In [54]:
df_group = df_dummies.groupby(["lei", "census_tract"]).mean()

In [55]:
df_group.head()

                                   loan_amount  income  rate_spread  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0    1065000.0     NaN          NaN
                     6001400200.0          NaN     NaN          NaN
                     6001400300.0          NaN     NaN          NaN
                     6001400400.0          NaN     NaN          NaN
                     6001400500.0          NaN     NaN          NaN

                                   total_loan_costs  total_points_and_fees  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0            6232.0                    NaN
                     6001400200.0               NaN                    NaN
                     6001400300.0               NaN                    NaN
                     6001400400.0               NaN                    NaN
                     6001400500.0               NaN                    NaN

                                   origination_charges  discount_points  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0               1690.0              NaN
                     6001400200.0                  NaN              NaN
                     6001400300.0                  NaN              NaN
                     6001400400.0                  NaN              NaN
                     6001400500.0                  NaN              NaN

                                   lender_credits  interest_rate  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0             NaN          2.875
                     6001400200.0             NaN            NaN
                     6001400300.0             NaN            NaN
                     6001400400.0             NaN            NaN
                     6001400500.0             NaN            NaN

                                   prepayment_penalty_term  ...  \
lei                  census_tract                           ...
3Y4U8VZURTYWI1W2K376 6001400100.0                      NaN  ...
                     6001400200.0                      NaN  ...
                     6001400300.0                      NaN  ...
                     6001400400.0                      NaN  ...
                     6001400500.0                      NaN  ...

                                   other_non_amortizing_features_1  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0                              0.0
                     6001400200.0                              NaN
                     6001400300.0                              NaN
                     6001400400.0                              NaN
                     6001400500.0                              NaN

                                   total_units_100-149  total_units_25-49  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0                  0.0                0.0
                     6001400200.0                  NaN                NaN
                     6001400300.0                  NaN                NaN
                     6001400400.0                  NaN                NaN
                     6001400500.0                  NaN                NaN

                                   total_units_5-24  total_units_50-99  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0               0.0                0.0
                     6001400200.0               NaN                NaN
                     6001400300.0               NaN                NaN
                     6001400400.0               NaN                NaN
                     6001400500.0               NaN                NaN

                                   total_units_>149  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0               0.0
                     6001400200.0               NaN
                     6001400300.0               NaN
                     6001400400.0               NaN
                     6001400500.0               NaN

                                   submission_of_application_3  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0                          1.0
                     6001400200.0                          NaN
                     6001400300.0                          NaN
                     6001400400.0                          NaN
                     6001400500.0                          NaN

                                   initially_payable_to_institution_3  \
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0                                 1.0
                     6001400200.0                                 NaN
                     6001400300.0                                 NaN
                     6001400400.0                                 NaN
                     6001400500.0                                 NaN

                                   aus_1_2  aus_1_5
lei                  census_tract
3Y4U8VZURTYWI1W2K376 6001400100.0      0.0      0.0
                     6001400200.0      NaN      NaN
                     6001400300.0      NaN      NaN
                     6001400400.0      NaN      NaN
                     6001400500.0      NaN      NaN

[5 rows x 125 columns]

In [24]:
from census import Census
from us import states
import geopandas as gpd

In [25]:
c = Census("ee30325acbe111c8b0bedcc71e755010ae47f059")

In [26]:
ca_census = c.acs5.state_county_tract(fields = ('NAME', 'C17002_001E', 'C17002_002E', 'C17002_003E', 'B01003_001E'),
                                      state_fips = states.CA.fips,
                                      county_fips = "*",
                                      tract = "*",
                                      year = 2020)

APIKeyError: ' <html>     <head>         <title>Invalid Key</title>     </head>     <body>         <p>             A valid <em>key</em> must be included with each data API request.             You included a key with this request, however, it is not valid.             Please check your key and try again.         </p>         <p>             If you do not have a key you may sign up for one <a href="key_signup.html">here</a>.         </p>     </body> </html>'