In [1]:
# Code to merge the datasets

In [2]:
# loading the bank of the west dataset
import pandas as pd

url = "https://ffiec.cfpb.gov/file/modifiedLar/year/2021/institution/QOT5WN9RBKQTFRVKEV31/txt/header"
# reading HMDA's 2021 Modified Loan/Application Register (LAR) 
# Bank of the Wesk (LEI: QOT5WN9RBKQTFRVKEV31)

# Read CSV file and keep the header
df1 = pd.read_csv(url, sep='|', low_memory=False, header=0)

# filter out rows where state_code is CA
df1 = df1[df1['state_code'] == 'CA']

# print out the number of rows and columns

print("BoW Number of rows: ", df1.shape[0])
print("BoW Number of columns: ", df1.shape[1])

BoW Number of rows:  18441
BoW Number of columns:  85

In [3]:
import pandas as pd

url = "https://ffiec.cfpb.gov/file/modifiedLar/year/2021/institution/3Y4U8VZURTYWI1W2K376/txt/header"
# reading HMDA's 2021 Modified Loan/Application Register (LAR) 
# BMO HARRIS BANK NATIONAL ASSOCIATION (LEI: 3Y4U8VZURTYWI1W2K376)

# Read CSV file and keep the header
df2 = pd.read_csv(url, sep='|', low_memory=False, header=0)

# filter out rows where state_code is CA
df2 = df2[df2['state_code'] == 'CA']

# print out the number of rows and columns

print("BMO Number of rows: ", df2.shape[0])
print("BMO Number of columns: ", df2.shape[1])

BMO Number of rows:  767
BMO Number of columns:  85

In [4]:
#Vertically merging both of the datset
df_full = df1.append(df2, ignore_index= True)

/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/2428741232.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_full = df1.append(df2, ignore_index= True)

In [5]:
# Shortening HMDA dataframe for readability purposes
df_part = df_full.head(1000)

In [6]:
df_part.head(10)

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
0,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,95000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
1,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,65000,4,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
2,2021,QOT5WN9RBKQTFRVKEV31,1,32,2,1,1,2085000,1,CA,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
3,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,45000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
4,2021,QOT5WN9RBKQTFRVKEV31,1,31,2,1,1,285000,4,CA,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
5,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,255000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
6,2021,QOT5WN9RBKQTFRVKEV31,1,4,2,1,1,45000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
7,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,165000,1,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2
8,2021,QOT5WN9RBKQTFRVKEV31,1,32,2,1,3,485000,3,CA,...,1,1,1,NaN,NaN,NaN,NaN,2,2,1
9,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,15000,2,CA,...,1,1,6,NaN,NaN,NaN,NaN,2,1,2

In [7]:
print(df_part.dtypes)

activity_year                       int64
lei                                object
loan_type                           int64
loan_purpose                        int64
preapproval                         int64
                                   ...
aus_4                             float64
aus_5                             float64
reverse_mortgage                    int64
open_end_line_of_credit             int64
business_or_commercial_purpose      int64
Length: 85, dtype: object

In [8]:
#Converting variables from numerical to categorical
df_part["census_tract"] = df_part["census_tract"].astype("category")
df_part["activity_year"] = df_part["activity_year"].astype("category")
df_part["lei"] = df_part["lei"].astype("category")
df_part["loan_type"] = df_part["loan_type"].astype("category")
df_part[['loan_purpose', 'preapproval', 'construction_method']] = df_part[['loan_purpose', 'preapproval', 'construction_method']].astype("category")
df_part[['occupancy_type', 'action_taken', 'state_code', 'county_code', 'census_tract', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']] = df_part[['occupancy_type', 'action_taken', 'state_code', 'county_code', 'census_tract', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']].astype("category")

/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/1731660752.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part["census_tract"] = df_part["census_tract"].astype("category")
/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/1731660752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part["activity_year"] = df_part["activity_year"].astype("category")
/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/1731660752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part["lei"] = df_part["lei"].astype("category")
/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/1731660752.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part["loan_type"] = df_part["loan_type"].astype("category")
/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/1731660752.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part[['loan_purpose', 'preapproval', 'construction_method']] = df_part[['loan_purpose', 'preapproval', 'construction_method']].astype("category")
/var/folders/nm/zm_7bqnx4cj64v6s_7wxf8f40000gn/T/ipykernel_7317/1731660752.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_part[['occupancy_type', 'action_taken', 'state_code', 'county_code', 'census_tract', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']] = df_part[['occupancy_type', 'action_taken', 'state_code', 'county_code', 'census_tract', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']].astype("category")

In [9]:
print(df_part.dtypes)

activity_year                     category
lei                               category
loan_type                         category
loan_purpose                      category
preapproval                       category
                                    ...
aus_4                             category
aus_5                             category
reverse_mortgage                  category
open_end_line_of_credit           category
business_or_commercial_purpose    category
Length: 85, dtype: object

In [10]:
#Creating dummy variables for all categorical variables
dummies = pd.get_dummies(df_part[['loan_type', 'loan_purpose', 'preapproval', 'construction_method', 'occupancy_type', 'action_taken', 'state_code', 'county_code', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose']])

In [11]:
print(list(dummies))

['loan_type_1', 'loan_type_2', 'loan_type_3', 'loan_purpose_1', 'loan_purpose_2', 'loan_purpose_4', 'loan_purpose_31', 'loan_purpose_32', 'preapproval_2', 'construction_method_1', 'construction_method_2', 'occupancy_type_1', 'occupancy_type_2', 'occupancy_type_3', 'action_taken_1', 'action_taken_2', 'action_taken_3', 'action_taken_4', 'state_code_CA', 'county_code_6001.0', 'county_code_6003.0', 'county_code_6005.0', 'county_code_6007.0', 'county_code_6009.0', 'county_code_6013.0', 'county_code_6017.0', 'county_code_6019.0', 'county_code_6029.0', 'county_code_6031.0', 'county_code_6033.0', 'county_code_6035.0', 'county_code_6037.0', 'county_code_6039.0', 'county_code_6041.0', 'county_code_6043.0', 'county_code_6047.0', 'county_code_6053.0', 'county_code_6055.0', 'county_code_6057.0', 'county_code_6059.0', 'county_code_6061.0', 'county_code_6065.0', 'county_code_6067.0', 'county_code_6069.0', 'county_code_6071.0', 'county_code_6073.0', 'county_code_6075.0', 'county_code_6077.0', 'county_code_6079.0', 'county_code_6081.0', 'county_code_6083.0', 'county_code_6085.0', 'county_code_6087.0', 'county_code_6089.0', 'county_code_6095.0', 'county_code_6097.0', 'county_code_6099.0', 'county_code_6107.0', 'county_code_6111.0', 'county_code_6113.0', 'applicant_ethnicity_1_1.0', 'applicant_ethnicity_1_2.0', 'applicant_ethnicity_1_3.0', 'applicant_ethnicity_1_11.0', 'applicant_ethnicity_1_14.0', 'applicant_ethnicity_2_11.0', 'applicant_ethnicity_2_12.0', 'applicant_ethnicity_2_14.0', 'applicant_ethnicity_3_12.0', 'applicant_ethnicity_3_14.0', 'co_applicant_ethnicity_1_1.0', 'co_applicant_ethnicity_1_2.0', 'co_applicant_ethnicity_1_3.0', 'co_applicant_ethnicity_1_5.0', 'co_applicant_ethnicity_1_11.0', 'co_applicant_ethnicity_1_14.0', 'co_applicant_ethnicity_2_11.0', 'co_applicant_ethnicity_2_12.0', 'co_applicant_ethnicity_2_14.0', 'applicant_ethnicity_observed_1', 'applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_1', 'co_applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_4', 'applicant_race_1_1.0', 'applicant_race_1_2.0', 'applicant_race_1_3.0', 'applicant_race_1_4.0', 'applicant_race_1_5.0', 'applicant_race_1_6.0', 'applicant_race_1_21.0', 'applicant_race_1_22.0', 'applicant_race_1_23.0', 'applicant_race_1_24.0', 'applicant_race_1_27.0', 'applicant_race_2_2.0', 'applicant_race_2_3.0', 'applicant_race_2_5.0', 'applicant_race_2_21.0', 'applicant_race_2_22.0', 'applicant_race_2_23.0', 'applicant_race_2_24.0', 'applicant_race_2_25.0', 'applicant_race_2_26.0', 'applicant_race_2_27.0', 'applicant_race_2_43.0', 'applicant_race_2_44.0', 'applicant_race_3_5.0', 'applicant_race_3_23.0', 'applicant_race_3_26.0', 'applicant_race_3_27.0', 'applicant_race_4_23.0', 'applicant_race_5_24.0', 'co_applicant_race_1_1.0', 'co_applicant_race_1_2.0', 'co_applicant_race_1_3.0', 'co_applicant_race_1_4.0', 'co_applicant_race_1_5.0', 'co_applicant_race_1_6.0', 'co_applicant_race_1_8.0', 'co_applicant_race_1_21.0', 'co_applicant_race_1_22.0', 'co_applicant_race_1_23.0', 'co_applicant_race_1_27.0', 'co_applicant_race_2_3.0', 'co_applicant_race_2_5.0', 'co_applicant_race_2_21.0', 'co_applicant_race_2_22.0', 'co_applicant_race_2_23.0', 'co_applicant_race_2_24.0', 'co_applicant_race_2_25.0', 'co_applicant_race_2_26.0', 'co_applicant_race_2_27.0', 'co_applicant_race_2_44.0', 'co_applicant_race_3_22.0', 'co_applicant_race_3_27.0', 'applicant_race_observed_1', 'applicant_race_observed_2', 'co_applicant_race_observed_1', 'co_applicant_race_observed_2', 'co_applicant_race_observed_4', 'applicant_sex_1', 'applicant_sex_2', 'applicant_sex_3', 'co_applicant_sex_1', 'co_applicant_sex_2', 'co_applicant_sex_3', 'co_applicant_sex_5', 'co_applicant_sex_6', 'applicant_sex_observed_1', 'applicant_sex_observed_2', 'co_applicant_sex_observed_1', 'co_applicant_sex_observed_2', 'co_applicant_sex_observed_4', 'applicant_age_25-34', 'applicant_age_35-44', 'applicant_age_45-54', 'applicant_age_55-64', 'applicant_age_65-74', 'applicant_age_>74', 'applicant_age_above_62_No', 'applicant_age_above_62_Yes', 'co_applicant_age_25-34', 'co_applicant_age_35-44', 'co_applicant_age_45-54', 'co_applicant_age_55-64', 'co_applicant_age_65-74', 'co_applicant_age_9999', 'co_applicant_age_<25', 'co_applicant_age_>74', 'co_applicant_age_above_62_No', 'co_applicant_age_above_62_Yes', 'purchaser_type_0', 'purchaser_type_1', 'purchaser_type_2', 'hoepa_status_2', 'hoepa_status_3', 'lien_status_1', 'lien_status_2', 'applicant_credit_scoring_model_1', 'applicant_credit_scoring_model_2', 'applicant_credit_scoring_model_3', 'applicant_credit_scoring_model_8', 'applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_1', 'co_applicant_credit_scoring_model_2', 'co_applicant_credit_scoring_model_3', 'co_applicant_credit_scoring_model_8', 'co_applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_10', 'denial_reason_1_1', 'denial_reason_1_3', 'denial_reason_1_4', 'denial_reason_1_5', 'denial_reason_1_6', 'denial_reason_1_7', 'denial_reason_1_9', 'denial_reason_1_10', 'denial_reason_2_1.0', 'denial_reason_2_3.0', 'denial_reason_2_4.0', 'denial_reason_2_5.0', 'denial_reason_2_6.0', 'denial_reason_2_9.0', 'denial_reason_3_1.0', 'denial_reason_3_9.0', 'debt_to_income_ratio_20%-<30%', 'debt_to_income_ratio_30%-<36%', 'debt_to_income_ratio_36', 'debt_to_income_ratio_37', 'debt_to_income_ratio_38', 'debt_to_income_ratio_39', 'debt_to_income_ratio_40', 'debt_to_income_ratio_41', 'debt_to_income_ratio_42', 'debt_to_income_ratio_43', 'debt_to_income_ratio_44', 'debt_to_income_ratio_45', 'debt_to_income_ratio_46', 'debt_to_income_ratio_47', 'debt_to_income_ratio_48', 'debt_to_income_ratio_49', 'debt_to_income_ratio_50%-60%', 'debt_to_income_ratio_<20%', 'debt_to_income_ratio_>60%', 'balloon_payment_2', 'interest_only_payment_1', 'interest_only_payment_2', 'negative_amortization_2', 'other_non_amortizing_features_2', 'manufactured_home_secured_property_type_1', 'manufactured_home_secured_property_type_3', 'manufactured_home_land_property_interest_1', 'manufactured_home_land_property_interest_5', 'total_units_1', 'total_units_2', 'total_units_3', 'total_units_4', 'submission_of_application_1', 'initially_payable_to_institution_1', 'aus_1_1', 'aus_1_3', 'aus_1_6', 'reverse_mortgage_2', 'open_end_line_of_credit_1', 'open_end_line_of_credit_2', 'business_or_commercial_purpose_1', 'business_or_commercial_purpose_2']

In [14]:
dummies.head()

,loan_type_1,loan_type_2,loan_type_3,loan_purpose_1,loan_purpose_2,loan_purpose_4,loan_purpose_31,loan_purpose_32,preapproval_2,construction_method_1,...,submission_of_application_1,initially_payable_to_institution_1,aus_1_1,aus_1_3,aus_1_6,reverse_mortgage_2,open_end_line_of_credit_1,open_end_line_of_credit_2,business_or_commercial_purpose_1,business_or_commercial_purpose_2
0,1,0,0,0,1,0,0,0,1,1,...,1,1,0,0,1,1,1,0,0,1
1,1,0,0,0,1,0,0,0,1,1,...,1,1,0,0,1,1,1,0,0,1
2,1,0,0,0,0,0,0,1,1,1,...,1,1,1,0,0,1,0,1,0,1
3,1,0,0,0,1,0,0,0,1,1,...,1,1,0,0,1,1,1,0,0,1
4,1,0,0,0,0,0,1,0,1,1,...,1,1,1,0,0,1,0,1,0,1

In [12]:
dummies[['loan_type_1', 'loan_type_2', 'loan_type_3', 'loan_purpose_1', 'loan_purpose_2', 'loan_purpose_4', 'loan_purpose_31', 'loan_purpose_32', 'preapproval_2', 'construction_method_1', 'construction_method_2', 'occupancy_type_1', 'occupancy_type_2', 'occupancy_type_3', 'action_taken_1', 'action_taken_2', 'action_taken_3', 'action_taken_4', 'state_code_CA', 'county_code_6001.0', 'county_code_6003.0', 'county_code_6005.0', 'county_code_6007.0', 'county_code_6009.0', 'county_code_6013.0', 'county_code_6017.0', 'county_code_6019.0', 'county_code_6029.0', 'county_code_6031.0', 'county_code_6033.0', 'county_code_6035.0', 'county_code_6037.0', 'county_code_6039.0', 'county_code_6041.0', 'county_code_6043.0', 'county_code_6047.0', 'county_code_6053.0', 'county_code_6055.0', 'county_code_6057.0', 'county_code_6059.0', 'county_code_6061.0', 'county_code_6065.0', 'county_code_6067.0', 'county_code_6069.0', 'county_code_6071.0', 'county_code_6073.0', 'county_code_6075.0', 'county_code_6077.0', 'county_code_6079.0', 'county_code_6081.0', 'county_code_6083.0', 'county_code_6085.0', 'county_code_6087.0', 'county_code_6089.0', 'county_code_6095.0', 'county_code_6097.0', 'county_code_6099.0', 'county_code_6107.0', 'county_code_6111.0', 'county_code_6113.0', 'applicant_ethnicity_1_1.0', 'applicant_ethnicity_1_2.0', 'applicant_ethnicity_1_3.0', 'applicant_ethnicity_1_11.0', 'applicant_ethnicity_1_14.0', 'applicant_ethnicity_2_11.0', 'applicant_ethnicity_2_12.0', 'applicant_ethnicity_2_14.0', 'applicant_ethnicity_3_12.0', 'applicant_ethnicity_3_14.0', 'co_applicant_ethnicity_1_1.0', 'co_applicant_ethnicity_1_2.0', 'co_applicant_ethnicity_1_3.0', 'co_applicant_ethnicity_1_5.0', 'co_applicant_ethnicity_1_11.0', 'co_applicant_ethnicity_1_14.0', 'co_applicant_ethnicity_2_11.0', 'co_applicant_ethnicity_2_12.0', 'co_applicant_ethnicity_2_14.0', 'applicant_ethnicity_observed_1', 'applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_1', 'co_applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_4', 'applicant_race_1_1.0', 'applicant_race_1_2.0', 'applicant_race_1_3.0', 'applicant_race_1_4.0', 'applicant_race_1_5.0', 'applicant_race_1_6.0', 'applicant_race_1_21.0', 'applicant_race_1_22.0', 'applicant_race_1_23.0', 'applicant_race_1_24.0', 'applicant_race_1_27.0', 'applicant_race_2_2.0', 'applicant_race_2_3.0', 'applicant_race_2_5.0', 'applicant_race_2_21.0', 'applicant_race_2_22.0', 'applicant_race_2_23.0', 'applicant_race_2_24.0', 'applicant_race_2_25.0', 'applicant_race_2_26.0', 'applicant_race_2_27.0', 'applicant_race_2_43.0', 'applicant_race_2_44.0', 'applicant_race_3_5.0', 'applicant_race_3_23.0', 'applicant_race_3_26.0', 'applicant_race_3_27.0', 'applicant_race_4_23.0', 'applicant_race_5_24.0', 'co_applicant_race_1_1.0', 'co_applicant_race_1_2.0', 'co_applicant_race_1_3.0', 'co_applicant_race_1_4.0', 'co_applicant_race_1_5.0', 'co_applicant_race_1_6.0', 'co_applicant_race_1_8.0', 'co_applicant_race_1_21.0', 'co_applicant_race_1_22.0', 'co_applicant_race_1_23.0', 'co_applicant_race_1_27.0', 'co_applicant_race_2_3.0', 'co_applicant_race_2_5.0', 'co_applicant_race_2_21.0', 'co_applicant_race_2_22.0', 'co_applicant_race_2_23.0', 'co_applicant_race_2_24.0', 'co_applicant_race_2_25.0', 'co_applicant_race_2_26.0', 'co_applicant_race_2_27.0', 'co_applicant_race_2_44.0', 'co_applicant_race_3_22.0', 'co_applicant_race_3_27.0', 'applicant_race_observed_1', 'applicant_race_observed_2', 'co_applicant_race_observed_1', 'co_applicant_race_observed_2', 'co_applicant_race_observed_4', 'applicant_sex_1', 'applicant_sex_2', 'applicant_sex_3', 'co_applicant_sex_1', 'co_applicant_sex_2', 'co_applicant_sex_3', 'co_applicant_sex_5', 'co_applicant_sex_6', 'applicant_sex_observed_1', 'applicant_sex_observed_2', 'co_applicant_sex_observed_1', 'co_applicant_sex_observed_2', 'co_applicant_sex_observed_4', 'applicant_age_25-34', 'applicant_age_35-44', 'applicant_age_45-54', 'applicant_age_55-64', 'applicant_age_65-74', 'applicant_age_>74', 'applicant_age_above_62_No', 'applicant_age_above_62_Yes', 'co_applicant_age_25-34', 'co_applicant_age_35-44', 'co_applicant_age_45-54', 'co_applicant_age_55-64', 'co_applicant_age_65-74', 'co_applicant_age_9999', 'co_applicant_age_<25', 'co_applicant_age_>74', 'co_applicant_age_above_62_No', 'co_applicant_age_above_62_Yes', 'purchaser_type_0', 'purchaser_type_1', 'purchaser_type_2', 'hoepa_status_2', 'hoepa_status_3', 'lien_status_1', 'lien_status_2', 'applicant_credit_scoring_model_1', 'applicant_credit_scoring_model_2', 'applicant_credit_scoring_model_3', 'applicant_credit_scoring_model_8', 'applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_1', 'co_applicant_credit_scoring_model_2', 'co_applicant_credit_scoring_model_3', 'co_applicant_credit_scoring_model_8', 'co_applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_10', 'denial_reason_1_1', 'denial_reason_1_3', 'denial_reason_1_4', 'denial_reason_1_5', 'denial_reason_1_6', 'denial_reason_1_7', 'denial_reason_1_9', 'denial_reason_1_10', 'denial_reason_2_1.0', 'denial_reason_2_3.0', 'denial_reason_2_4.0', 'denial_reason_2_5.0', 'denial_reason_2_6.0', 'denial_reason_2_9.0', 'denial_reason_3_1.0', 'denial_reason_3_9.0', 'debt_to_income_ratio_20%-<30%', 'debt_to_income_ratio_30%-<36%', 'debt_to_income_ratio_36', 'debt_to_income_ratio_37', 'debt_to_income_ratio_38', 'debt_to_income_ratio_39', 'debt_to_income_ratio_40', 'debt_to_income_ratio_41', 'debt_to_income_ratio_42', 'debt_to_income_ratio_43', 'debt_to_income_ratio_44', 'debt_to_income_ratio_45', 'debt_to_income_ratio_46', 'debt_to_income_ratio_47', 'debt_to_income_ratio_48', 'debt_to_income_ratio_49', 'debt_to_income_ratio_50%-60%', 'debt_to_income_ratio_<20%', 'debt_to_income_ratio_>60%', 'balloon_payment_2', 'interest_only_payment_1', 'interest_only_payment_2', 'negative_amortization_2', 'other_non_amortizing_features_2', 'manufactured_home_secured_property_type_1', 'manufactured_home_secured_property_type_3', 'manufactured_home_land_property_interest_1', 'manufactured_home_land_property_interest_5', 'total_units_1', 'total_units_2', 'total_units_3', 'total_units_4', 'submission_of_application_1', 'initially_payable_to_institution_1', 'aus_1_1', 'aus_1_3', 'aus_1_6', 'reverse_mortgage_2', 'open_end_line_of_credit_1', 'open_end_line_of_credit_2', 'business_or_commercial_purpose_1', 'business_or_commercial_purpose_2']] = dummies[['loan_type_1', 'loan_type_2', 'loan_type_3', 'loan_purpose_1', 'loan_purpose_2', 'loan_purpose_4', 'loan_purpose_31', 'loan_purpose_32', 'preapproval_2', 'construction_method_1', 'construction_method_2', 'occupancy_type_1', 'occupancy_type_2', 'occupancy_type_3', 'action_taken_1', 'action_taken_2', 'action_taken_3', 'action_taken_4', 'state_code_CA', 'county_code_6001.0', 'county_code_6003.0', 'county_code_6005.0', 'county_code_6007.0', 'county_code_6009.0', 'county_code_6013.0', 'county_code_6017.0', 'county_code_6019.0', 'county_code_6029.0', 'county_code_6031.0', 'county_code_6033.0', 'county_code_6035.0', 'county_code_6037.0', 'county_code_6039.0', 'county_code_6041.0', 'county_code_6043.0', 'county_code_6047.0', 'county_code_6053.0', 'county_code_6055.0', 'county_code_6057.0', 'county_code_6059.0', 'county_code_6061.0', 'county_code_6065.0', 'county_code_6067.0', 'county_code_6069.0', 'county_code_6071.0', 'county_code_6073.0', 'county_code_6075.0', 'county_code_6077.0', 'county_code_6079.0', 'county_code_6081.0', 'county_code_6083.0', 'county_code_6085.0', 'county_code_6087.0', 'county_code_6089.0', 'county_code_6095.0', 'county_code_6097.0', 'county_code_6099.0', 'county_code_6107.0', 'county_code_6111.0', 'county_code_6113.0', 'applicant_ethnicity_1_1.0', 'applicant_ethnicity_1_2.0', 'applicant_ethnicity_1_3.0', 'applicant_ethnicity_1_11.0', 'applicant_ethnicity_1_14.0', 'applicant_ethnicity_2_11.0', 'applicant_ethnicity_2_12.0', 'applicant_ethnicity_2_14.0', 'applicant_ethnicity_3_12.0', 'applicant_ethnicity_3_14.0', 'co_applicant_ethnicity_1_1.0', 'co_applicant_ethnicity_1_2.0', 'co_applicant_ethnicity_1_3.0', 'co_applicant_ethnicity_1_5.0', 'co_applicant_ethnicity_1_11.0', 'co_applicant_ethnicity_1_14.0', 'co_applicant_ethnicity_2_11.0', 'co_applicant_ethnicity_2_12.0', 'co_applicant_ethnicity_2_14.0', 'applicant_ethnicity_observed_1', 'applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_1', 'co_applicant_ethnicity_observed_2', 'co_applicant_ethnicity_observed_4', 'applicant_race_1_1.0', 'applicant_race_1_2.0', 'applicant_race_1_3.0', 'applicant_race_1_4.0', 'applicant_race_1_5.0', 'applicant_race_1_6.0', 'applicant_race_1_21.0', 'applicant_race_1_22.0', 'applicant_race_1_23.0', 'applicant_race_1_24.0', 'applicant_race_1_27.0', 'applicant_race_2_2.0', 'applicant_race_2_3.0', 'applicant_race_2_5.0', 'applicant_race_2_21.0', 'applicant_race_2_22.0', 'applicant_race_2_23.0', 'applicant_race_2_24.0', 'applicant_race_2_25.0', 'applicant_race_2_26.0', 'applicant_race_2_27.0', 'applicant_race_2_43.0', 'applicant_race_2_44.0', 'applicant_race_3_5.0', 'applicant_race_3_23.0', 'applicant_race_3_26.0', 'applicant_race_3_27.0', 'applicant_race_4_23.0', 'applicant_race_5_24.0', 'co_applicant_race_1_1.0', 'co_applicant_race_1_2.0', 'co_applicant_race_1_3.0', 'co_applicant_race_1_4.0', 'co_applicant_race_1_5.0', 'co_applicant_race_1_6.0', 'co_applicant_race_1_8.0', 'co_applicant_race_1_21.0', 'co_applicant_race_1_22.0', 'co_applicant_race_1_23.0', 'co_applicant_race_1_27.0', 'co_applicant_race_2_3.0', 'co_applicant_race_2_5.0', 'co_applicant_race_2_21.0', 'co_applicant_race_2_22.0', 'co_applicant_race_2_23.0', 'co_applicant_race_2_24.0', 'co_applicant_race_2_25.0', 'co_applicant_race_2_26.0', 'co_applicant_race_2_27.0', 'co_applicant_race_2_44.0', 'co_applicant_race_3_22.0', 'co_applicant_race_3_27.0', 'applicant_race_observed_1', 'applicant_race_observed_2', 'co_applicant_race_observed_1', 'co_applicant_race_observed_2', 'co_applicant_race_observed_4', 'applicant_sex_1', 'applicant_sex_2', 'applicant_sex_3', 'co_applicant_sex_1', 'co_applicant_sex_2', 'co_applicant_sex_3', 'co_applicant_sex_5', 'co_applicant_sex_6', 'applicant_sex_observed_1', 'applicant_sex_observed_2', 'co_applicant_sex_observed_1', 'co_applicant_sex_observed_2', 'co_applicant_sex_observed_4', 'applicant_age_25-34', 'applicant_age_35-44', 'applicant_age_45-54', 'applicant_age_55-64', 'applicant_age_65-74', 'applicant_age_>74', 'applicant_age_above_62_No', 'applicant_age_above_62_Yes', 'co_applicant_age_25-34', 'co_applicant_age_35-44', 'co_applicant_age_45-54', 'co_applicant_age_55-64', 'co_applicant_age_65-74', 'co_applicant_age_9999', 'co_applicant_age_<25', 'co_applicant_age_>74', 'co_applicant_age_above_62_No', 'co_applicant_age_above_62_Yes', 'purchaser_type_0', 'purchaser_type_1', 'purchaser_type_2', 'hoepa_status_2', 'hoepa_status_3', 'lien_status_1', 'lien_status_2', 'applicant_credit_scoring_model_1', 'applicant_credit_scoring_model_2', 'applicant_credit_scoring_model_3', 'applicant_credit_scoring_model_8', 'applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_1', 'co_applicant_credit_scoring_model_2', 'co_applicant_credit_scoring_model_3', 'co_applicant_credit_scoring_model_8', 'co_applicant_credit_scoring_model_9', 'co_applicant_credit_scoring_model_10', 'denial_reason_1_1', 'denial_reason_1_3', 'denial_reason_1_4', 'denial_reason_1_5', 'denial_reason_1_6', 'denial_reason_1_7', 'denial_reason_1_9', 'denial_reason_1_10', 'denial_reason_2_1.0', 'denial_reason_2_3.0', 'denial_reason_2_4.0', 'denial_reason_2_5.0', 'denial_reason_2_6.0', 'denial_reason_2_9.0', 'denial_reason_3_1.0', 'denial_reason_3_9.0', 'debt_to_income_ratio_20%-<30%', 'debt_to_income_ratio_30%-<36%', 'debt_to_income_ratio_36', 'debt_to_income_ratio_37', 'debt_to_income_ratio_38', 'debt_to_income_ratio_39', 'debt_to_income_ratio_40', 'debt_to_income_ratio_41', 'debt_to_income_ratio_42', 'debt_to_income_ratio_43', 'debt_to_income_ratio_44', 'debt_to_income_ratio_45', 'debt_to_income_ratio_46', 'debt_to_income_ratio_47', 'debt_to_income_ratio_48', 'debt_to_income_ratio_49', 'debt_to_income_ratio_50%-60%', 'debt_to_income_ratio_<20%', 'debt_to_income_ratio_>60%', 'balloon_payment_2', 'interest_only_payment_1', 'interest_only_payment_2', 'negative_amortization_2', 'other_non_amortizing_features_2', 'manufactured_home_secured_property_type_1', 'manufactured_home_secured_property_type_3', 'manufactured_home_land_property_interest_1', 'manufactured_home_land_property_interest_5', 'total_units_1', 'total_units_2', 'total_units_3', 'total_units_4', 'submission_of_application_1', 'initially_payable_to_institution_1', 'aus_1_1', 'aus_1_3', 'aus_1_6', 'reverse_mortgage_2', 'open_end_line_of_credit_1', 'open_end_line_of_credit_2', 'business_or_commercial_purpose_1', 'business_or_commercial_purpose_2']].astype("category")

In [13]:
print(dummies.dtypes)

loan_type_1                         category
loan_type_2                         category
loan_type_3                         category
loan_purpose_1                      category
loan_purpose_2                      category
                                      ...
reverse_mortgage_2                  category
open_end_line_of_credit_1           category
open_end_line_of_credit_2           category
business_or_commercial_purpose_1    category
business_or_commercial_purpose_2    category
Length: 248, dtype: object

In [15]:
df_dummies = pd.concat([df_part, dummies], axis = 1)

In [16]:
df_dummies.head()

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,submission_of_application_1,initially_payable_to_institution_1,aus_1_1,aus_1_3,aus_1_6,reverse_mortgage_2,open_end_line_of_credit_1,open_end_line_of_credit_2,business_or_commercial_purpose_1,business_or_commercial_purpose_2
0,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,95000,1,CA,...,1,1,0,0,1,1,1,0,0,1
1,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,65000,4,CA,...,1,1,0,0,1,1,1,0,0,1
2,2021,QOT5WN9RBKQTFRVKEV31,1,32,2,1,1,2085000,1,CA,...,1,1,1,0,0,1,0,1,0,1
3,2021,QOT5WN9RBKQTFRVKEV31,1,2,2,1,1,45000,1,CA,...,1,1,0,0,1,1,1,0,0,1
4,2021,QOT5WN9RBKQTFRVKEV31,1,31,2,1,1,285000,4,CA,...,1,1,1,0,0,1,0,1,0,1

In [17]:
df_dummies.drop(['loan_type', 'loan_purpose', 'preapproval', 'construction_method', 'occupancy_type', 'action_taken', 'state_code', 'county_code', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 'applicant_age', 'applicant_age_above_62', 'co_applicant_age', 'co_applicant_age_above_62',  'purchaser_type', 'hoepa_status', 'lien_status', 'applicant_credit_scoring_model', 'co_applicant_credit_scoring_model', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 'denial_reason_4', 'debt_to_income_ratio', 'balloon_payment', 'interest_only_payment', 'negative_amortization', 'other_non_amortizing_features',  'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest', 'total_units', 'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 'aus_3', 'aus_4', 'aus_5', 'reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose'], axis=1, inplace=True)

In [18]:
df_dummies.head()

,activity_year,lei,loan_amount,census_tract,income,rate_spread,total_loan_costs,total_points_and_fees,origination_charges,discount_points,...,submission_of_application_1,initially_payable_to_institution_1,aus_1_1,aus_1_3,aus_1_6,reverse_mortgage_2,open_end_line_of_credit_1,open_end_line_of_credit_2,business_or_commercial_purpose_1,business_or_commercial_purpose_2
0,2021,QOT5WN9RBKQTFRVKEV31,95000,6.083002e+09,178.0,1.705,NaN,NaN,NaN,NaN,...,1,1,0,0,1,1,1,0,0,1
1,2021,QOT5WN9RBKQTFRVKEV31,65000,6.059099e+09,102.0,NaN,NaN,NaN,NaN,NaN,...,1,1,0,0,1,1,1,0,0,1
2,2021,QOT5WN9RBKQTFRVKEV31,2085000,6.037800e+09,403.0,-0.153,10310.87,NaN,6145.0,NaN,...,1,1,1,0,0,1,0,1,0,1
3,2021,QOT5WN9RBKQTFRVKEV31,45000,6.037106e+09,112.0,2.605,NaN,NaN,NaN,NaN,...,1,1,0,0,1,1,1,0,0,1
4,2021,QOT5WN9RBKQTFRVKEV31,285000,6.037433e+09,56.0,NaN,NaN,NaN,NaN,NaN,...,1,1,1,0,0,1,0,1,0,1

In [19]:
print(df_dummies.dtypes)

activity_year                       category
lei                                 category
loan_amount                            int64
census_tract                        category
income                               float64
                                      ...
reverse_mortgage_2                  category
open_end_line_of_credit_1           category
open_end_line_of_credit_2           category
business_or_commercial_purpose_1    category
business_or_commercial_purpose_2    category
Length: 266, dtype: object

In [20]:
df_group = df_dummies.groupby(["lei", "census_tract"]).mean()

In [21]:
df_group.head()

                                   loan_amount  income  rate_spread  \
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0     490000.0   183.0        0.390
                     6001400300.0     125000.0   184.0        0.745
                     6001400500.0      85000.0   105.0        2.015
                     6001403300.0     405000.0   150.0        0.001
                     6001403800.0     785000.0   718.0        0.572

                                   total_loan_costs  total_points_and_fees  \
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0           6564.15                    NaN
                     6001400300.0               NaN                    NaN
                     6001400500.0               NaN                    NaN
                     6001403300.0           4855.80                    NaN
                     6001403800.0           3577.80                    NaN

                                   origination_charges  discount_points  \
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0              4195.00              NaN
                     6001400300.0                  NaN              NaN
                     6001400500.0                  NaN              NaN
                     6001403300.0              2905.00          2010.00
                     6001403800.0              1874.75           979.75

                                   lender_credits  interest_rate  \
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0          7636.2          3.125
                     6001400300.0             NaN          3.565
                     6001400500.0             NaN          4.865
                     6001403300.0             NaN          3.000
                     6001403800.0             NaN          3.375

                                   prepayment_penalty_term  \
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0                      NaN
                     6001400300.0                      NaN
                     6001400500.0                      NaN
                     6001403300.0                      NaN
                     6001403800.0                      NaN

                                   combined_loan_to_value_ratio  loan_term  \
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0                       47.1352      360.0
                     6001400300.0                       80.0000      360.0
                     6001400500.0                       64.7947      360.0
                     6001403300.0                       51.6047      360.0
                     6001403800.0                       53.1390      360.0

                                   intro_rate_period  property_value  \
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0                1.0       1855000.0
                     6001400300.0                1.0       1505000.0
                     6001400500.0                1.0       1165000.0
                     6001403300.0                NaN        775000.0
                     6001403800.0                NaN       1475000.0

                                   multifamily_affordable_units
lei                  census_tract
QOT5WN9RBKQTFRVKEV31 6001400100.0                           NaN
                     6001400300.0                           NaN
                     6001400500.0                           NaN
                     6001403300.0                           NaN
                     6001403800.0                           NaN

In [ ]:
from census import Census
from us import states
import geopandas as gpd

In [ ]:
c = Census("ee30325acbe111c8b0bedcc71e755010ae47f059")

In [ ]:
ca_census = c.acs5.state_county_tract(fields = ('NAME', 'C17002_001E', 'C17002_002E', 'C17002_003E', 'B01003_001E'),
                                      state_fips = states.CA.fips,
                                      county_fips = "*",
                                      tract = "*",
                                      year = 2020)